name: Publish release
on:
  release:
    types: [released]

jobs:
  publish-release:
    name: Publish release
    uses: logikal-io/github-workflows/.github/workflows/python-publish-release.yml@v11
    with:
      name: pytest-logikal
      docs-workload-identity-provider: "projects/1092349290577/locations/global/\
                                        workloadIdentityPools/ci-cd/providers/github-actions"
      docs-service-account-email: docs-publisher@docs-logikal-io.iam.gserviceaccount.com
      docs-bucket-name: website-docs-logikal-io
      docs-url-map-name: website-docs-logikal-io-service
      docs-http-to-https-url-map-name: website-docs-logikal-io-https-redirect
    permissions:
      contents: read
      id-token: write
    secrets: inherit
