name: Test pull request
on: pull_request

jobs:
  run-python-tests:
    name: Run Python tests
    uses: logikal-io/github-workflows/.github/workflows/python-run-tests.yml@v11
    permissions:
      contents: read
      id-token: write
